body {
    margin: 0;
    font-family: sans-serif;

    background-image: url("background_img.jpg"), linear-gradient(to bottom, rgba(255, 240.2, 195.1, 1.0), rgb(255, 240.2, 195.1));
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-blend-mode: normal;
}

#outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe_table {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    height: 300px;
    width: calc(100% - 75px - 75px);
    align-content: flex-start;
    overflow: auto;

    border-width: 2px;
    border-color: black;
    border-style: solid;

    padding: 10px;

    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#attribution_links {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 75px;
    margin-bottom: 50px;
}

#name_paragraph {
    margin-bottom: 0px;
}
